.header {
    display: inline-flex;
    flex-direction: row;
}

.title {
    width: 15vw;
}

.total {
    width: 15vw;
    text-align: end;
}

table tr th { 
    text-align: center;
    font-size: 15px;
}

table, tr, td, th {
    border-bottom: 2px solid rgb(212, 212, 212);
    border-collapse: collapse;
    width: 28vw;
}

.example-button-row {
    display: flex;
    flex-direction: row;
}

.example-viewport {
    height: 78vh;
    width: 30vw;
}
