<section class="content">
  <h1 class="title">Ventas del dia</h1>
  <div class="table-sales">
    <table datable>
      <thead>
        <tr>
          <!--<th>Img</th>-->
          <th>Producto</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of getProduct()">
          <!--<td style="text-align: center;"><img src={{product.img}} width="100px"></td>-->
          <td style="text-align: center;">{{product.name}}</td>
          <td style="text-align: center;">{{product.price | currency}}</td>
          <td style="text-align: right;">
            <div class="example-button-row">
              <button mat-button color="primary"><mat-icon>edit</mat-icon></button>
              <button mat-button color="accent"><mat-icon>delete</mat-icon></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="total">
    <h2>Total {{getTotalCost() | currency}}</h2>
  </div>

</section>